<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="/js/dish.js"></script>
<div class="container">
    <header>
        <h1><a href="/home">Health Quarter</a></h1>
        <a href="/delivery">Delivery</a>
        <a href="/favouriteRest">My Favourites</a>
        <a href="/recipeFinder">Recipes Finder</a>
        <a href="/logout">LOGOUT</a>
    </header>
    <div class="row no-gutters" id="mainContent">
        <div id="myNotes">
            <div class="container bg-light">
                <button id="favBtn"></button>
                <h2 id="myNotesTitle">Dish Details</h2>
                <div id='dish-detail'></div>
            </div>
        </div>
    </div>
</div>