<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="/js/favRec.js"></script>

<!-- Banner Background Image -->
<section>
    <div class="bannerbackground">
        <div><p>uncover your healthy lifestyle</p></div>
    </div>
</section> 

<!--<div class="container">
    <h2>My favourite</h2>
    <a href="/favouriteRest">Restaurant</a>
    <a href="/favouriteDish">Dishes</a>
    <a href="/favouriteMeal">Meal Plans</a>
    Recipes -->


{{!-- Sub menu --}}
<div class="favwrapper">
    <div></div>
    <div class="x">
        <a href="/favouriteRest">RESTAURANTS</a>
    </div>
    <div class="y">
        <a href="/favouriteDish">DISHES</a>
    </div>
    <div class="z">
        <a href="/favouriteMeal">MEAL PLANS</a>
    </div>
    <div class="w">
        RECIPES
    </div>
    <div></div>
</div>

    <div class="favRecipeBG">
        <div class="row no-gutters" id="mainContent">
            <div id="myNotes">
                <div class="container">
                    <div id='fav-rec-list'></div>
                </div>
            </div>
        </div>
    </div>
</div>