<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="/js/favRest.js"></script>

<!-- Banner Background Image -->
<section>
    <div class="bannerbackground">
        <div><p>uncover your healthy lifestyle</p></div>
    </div>
</section>

{{!-- Sub menu --}}
<div class="favwrapper">
    <div></div>
    <div class="x">
        RESTAURANTS
    </div>
    <div class="y">
        <a href="/favouriteDish">DISHES</a>
    </div>
    <div class="z">
        <a href="/favouriteMeal">MEAL PLANS</a>
    </div>
    <div class="w">
        <a href="/favouriteRec">RECIPES</a>
    </div>
    <div></div>
</div>

{{!-- Content --}}
<section class="grid">

    <div class="favtitle">
        <div>
            <span>FAVOURITE RESTAURANTS</span>
        </div>
    </div>

    <div class="wrapper" id="fav-rest-list">
        {{!-- favRest.js > $.get(`/api/fav/restaurants`) --}}
    </div>

</section>