<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="/js/profile.js"></script>

<!-- Banner Background Image -->
<section>
    <div class="profilebannerbackground">
        <div>
            <p>PROFILE</p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row d-flex" id="info-row">
            <div class="container half-page col-sm-10 col-md-5" id="profile-container">
                <h4>Account setting</h4>
                <div id='my-detail'></div>
                <div id="tag-list">
                    <label>INTERESTS</label>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <input type="submit" id="updateBtn" value="Update" />
                </div>
            </div>
            <div class="container half-page col-sm-10 col-md-5" id="review-container">
                <h4>My reviews</h4>
                <div id='review-list'></div>
            </div>
        </div>
    </div>
</section>