<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="../js/restlist.js"></script>

<!-- Banner Background Image -->

<section>
    <div class="restbannerbackground">
         <div>
                    <p id="titleTag"></p>
                </div>
    </div>
</section> 

<!-- Listing by categories, where the grid format begins-->

<section class="grid">
    <div class="listingtitle">
        <div>
            <span id="tagName"></span>
        </div>
    
    </div>

    <div class="wrapper" id="restList">
        {{!-- restlist.js > $.get(`/api/rest/tag/:id`) --}}
    </div>
</section>

