<div class="container">
    <header>
        <h1><a href="/home">Health Quarter</a></h1>
        <a href="/delivery">Delivery</a>
        Recipe Finder
    </header>

    <div class="searchingBG">

<table class="table" id="recipe_table">
    <tr>
        <th>Recipe Name:</th>
        <th>Image:</th>
        <th>Learn more button:</th>
        </tr>
        </table>
        
    </div>

</div>

       
<script type='text/javascript'>

 let recipes = {{{ data }}};


        $.each(recipes, function (key, value) {
            recipes += '<tr>';
            recipes += '<td width="25%" class="recipeTitle">' + value.title + '</td>';
            recipes += '<td><img src=' + value.image + '></td>';
            recipes += '<td><a class="learnMore" href="https://spoonacular.com/' + value.title + '-' + value.id + '">Learn More</a></td>';
            recipes += '</tr>';
        });
        $('#recipe_table').append(recipes);


         
    </script>
