<div class="container">
    <header>
        <h1>
            <a href="/home">Health Quarter</a>
        </h1>
        <a href="/delivery">Delivery</a>
        Recipe Finder
    </header>

    <div class="searchtagBG">

        <table class="table" id="recipe_table">
            <tr>
                <th>Recipe Name:</th>
                <th>Total Servings:</th>
                <th>Image:</th>
                <th>Learn more button:</th>
            </tr>
        </table>

    </div>
</div>


<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<scripr src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'>
    </script>
    <script type='text/javascript'>

        // make data useable
        let recipes = {{{ data }}};

        $.each(recipes.recipes, function (key, value) {
            recipes += '<tr>';
            recipes += '<td width="25%" class="recipeTitle">' + value.title + '</td>';
            recipes += '<td class="recipeTitle">' + value.servings + '</td>';
            recipes += '<td><img src=' + value.image + '></td>';
            recipes += '<td><a class="learnMore" href=' + value.spoonacularSourceUrl + '>Learn More</a></td>';
            recipes += '</tr>';
        });
        $('#recipe_table').append(recipes);


    </script>